#!/bin/bash
set -eux
dnf install -y jq git cronie
systemctl enable --now crond
mkdir -p /var/log/zuri /opt/zuri
echo "export AWS_DEFAULT_REGION=${region}" > /etc/profile.d/aws.sh
echo "export KUBECONFIG=/etc/rancher/k3s/k3s.yaml" > /etc/profile.d/k3s.sh
curl -sfL https://get.k3s.io | INSTALL_K3S_CHANNEL=stable sh -s - server --write-kubeconfig-mode 644
curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash